<div class="container-fluid text-center navbar">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Feed</a>
        <a href="#">Profile</a>
        <a href="#">Data</a>
        <a href="#">Logout</a>
    </div>
    <!-- Use any element to open the sidenav -->
    <span onclick="openNav()"><i class="fa fa-bars fa-5x" aria-hidden="true"></i>
</span>
    <div id="main">
        <h1 class='demologo profile'>Garden Name</h1><br>
        <h2>My Garden</h2>
        <div class="container-fluid header text-center">
            <h3>Plant Name</h3>
            <img id="plantImg" src="http://www.motherearthliving.com/-/media/Images/MEL/Editorial/Articles/Magazine-Articles/2012/04-01/Whats-Wrong-with-My-Herbs-Growing-Basil-Tips/Basil-Plant.jpg" alt=""><br>
            <p>Some text about muh plants Some text about muh plants Some text about muh plants</p><br>
            <h3>Plant Name</h3>
            <img id="plantImg" src="http://www.growweedeasy.com/sites/growweedeasy.com/files/fat-smelly-cannabis-cola.jpg" alt=""><br>
            <p>Some text about muh plants Some text about muh plants Some text about muh plants</p><br>
            <h3>Plant Name</h3>
            <img id="plantImg" src="http://www.motherearthliving.com/-/media/Images/MEL/Editorial/Articles/Magazine-Articles/2012/04-01/Whats-Wrong-with-My-Herbs-Growing-Basil-Tips/Basil-Plant.jpg" alt=""><br>
            <p>Some text about muh plants Some text about muh plants Some text about muh plants</p>
            <h3>Plant Name</h3>
            <img id="plantImg" src="http://www.motherearthliving.com/-/media/Images/MEL/Editorial/Articles/Magazine-Articles/2012/04-01/Whats-Wrong-with-My-Herbs-Growing-Basil-Tips/Basil-Plant.jpg" alt=""><br>
            <p>Some text about muh plants Some text about muh plants Some text about muh plants</p><br>
            <h3>Plant Name</h3>
            <img id="plantImg" src="http://www.growweedeasy.com/sites/growweedeasy.com/files/fat-smelly-cannabis-cola.jpg" alt=""><br>
            <p>Some text about muh plants Some text about muh plants Some text about muh plants</p><br>
            <h3>Plant Name</h3>
            <img id="plantImg" src="http://www.motherearthliving.com/-/media/Images/MEL/Editorial/Articles/Magazine-Articles/2012/04-01/Whats-Wrong-with-My-Herbs-Growing-Basil-Tips/Basil-Plant.jpg" alt=""><br>
            <p>Some text about muh plants Some text about muh plants Some text about muh plants</p>
        </div>
    </div>
</div>
<!-- BACKGROUND IMG -->
<img class="footerImg demoImg container-fluid" src="http://i.imgur.com/fF54ty8.png" alt=""><br>
<!-- FOOTER GRASS DIV-->
<div class="container-fluid footer demoFooter">
</div>
