<div class="sun">
</div>
<div class="container-fluid text-center">
    <h1 class='demologo profile'>Garden Name</h1>
    <p class="randomQuote"></p><br>
    <a href="/signup"><button class="hvr-grow-shadow signupDemoBtn" type="button" name="button">Sign Up</button></a><br><br>
    <button id="createPlantBtnDemo" class=hvr-grow-shadow "" type="button" name="button">Add New Plant</button><br>
</div><br>
<div class="container-fluid text-center createForm hidden">
    <form class="" action="index.html" method="post">
        <input type="text" name="" value="" placeholder=" Common Name"><br>
        <input type="text" name="" value="" placeholder=" Scientic Name"><br>
        <input type="text" name="" value="" placeholder=" Description"><br>
        <input type="text" name="" value="" placeholder=" Date Added - (MM/DD/YYYY)"><br>
        <input id="submitCreateBtnDemo" type="submit" name="Submit New Plant">
    </form>
</div>
<div class="container-fluid" style="height: 500px;">
    <div class="container" style="height: 500px;">
        <div class="row">
            <div class="col-xs-6 numberOfPlants">
                <h4>Total # Of Plants: <h3>32</h3></h4>
            </div>
            <div class="col-xs-6 myMostCommon">
                <h4>My Most Common Plants: </h4><br>
                <h6>Basil, Apple Trees, Spinach</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <canvas id="doughnutChartDemo" width="400" height="150"></canvas><br><br>
            </div>
        </div>
    </div><br>
    <div class="text-center container">
      <h1>My Garden</h1>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="panel panel-default clicable row col-md-4 col-xs-5 col-md-offset-4 col-xs-offset-3">
            <div class="panel-body">
                <div class="top-img">
                    <img class="top-img" src="https://www.colourbox.com/preview/2090330-genovese-basil-plant-ocimum-basilicum-sweet-basil.jpg">
                </div>
                <div class="top-content">
                    <div class="question">
                        <p class="x-large"><b>Basil | Ocimum basilicum</b></p>
                    </div>
                    <div class="made-by">
                        <p class="text-muted">
                            <b class="cool-font">
                                <span>Basil, is a short lived annual or perennial plant in the family Lamiaceae grown for its leaves which are used as a herb. ... Close-up of basil flowers.</span>
                            </b>
                        </p>
                    </div><br>
                    <div class="price">
                        <p class="text-center xx-large avg">
                            <b><a href="/demo"><button class="hvr-grow-shadow gardenView" type="button" name="button">View Test's garden!</button></a><br></b>
                            <span class="currency"><i class="fa fa-eur"></i></span>
                            <button class="btn btn-danger" type="button" name="">Delete plant</button>
                        </p>
                    </div><br>
                    <hr>
                    <div class="extra-info text-muted">
                        <div class="pull-right">Updated: 12/25/2016</div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="panel panel-default clicable row col-md-4 col-xs-5 col-md-offset-4 col-xs-offset-3">
            <div class="panel-body">
                <div class="top-img">
                    <img class="top-img" src="https://www.colourbox.com/preview/2090330-genovese-basil-plant-ocimum-basilicum-sweet-basil.jpg">
                </div>
                <div class="top-content">
                    <div class="question">
                        <p class="x-large"><b>Basil | Ocimum basilicum</b></p>
                    </div>
                    <div class="made-by">
                        <p class="text-muted">
                            <b class="cool-font">
                              <span>Basil, is a short lived annual or perennial plant in the family Lamiaceae grown for its leaves which are used as a herb. ... Close-up of basil flowers.</span>
                          </b>
                        </p>
                    </div><br>
                    <div class="price">
                        <p class="text-center xx-large avg">
                            <b><a href="/demo"><button class="hvr-grow-shadow gardenView" type="button" name="button">View Test's garden!</button></a><br></b>
                            <span class="currency"><i class="fa fa-eur"></i></span>
                            <button class="btn btn-danger" type="button" name="">Delete plant</button>
                        </p>
                    </div><br>
                    <hr>
                    <div class="extra-info text-muted">
                        <div class="pull-right">Updated: 12/25/2016</div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="panel panel-default clicable row col-md-4 col-xs-5 col-md-offset-4 col-xs-offset-3">
            <div class="panel-body">
                <div class="top-img">
                    <img class="top-img" src="https://www.colourbox.com/preview/2090330-genovese-basil-plant-ocimum-basilicum-sweet-basil.jpg">
                </div>
                <div class="top-content">
                    <div class="question">
                        <p class="x-large"><b>Basil | Ocimum basilicum</b></p>
                    </div>
                    <div class="made-by">
                        <p class="text-muted">
                            <b class="cool-font">
                            <span>Basil, is a short lived annual or perennial plant in the family Lamiaceae grown for its leaves which are used as a herb. ... Close-up of basil flowers.</span>
                        </b>
                        </p>
                    </div><br>
                    <div class="price">
                        <p class="text-center xx-large avg">
                            <b><a href="/demo"><button class="hvr-grow-shadow gardenView" type="button" name="button">View Test's garden!</button></a><br></b>
                            <span class="currency"><i class="fa fa-eur"></i></span>
                            <button class="btn btn-danger" type="button" name="">Delete plant</button>
                        </p>
                    </div><br>
                    <hr>
                    <div class="extra-info text-muted">
                        <div class="pull-right">Updated: 12/25/2016</div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="panel panel-default clicable row col-md-4 col-xs-5 col-md-offset-4 col-xs-offset-3">
            <div class="panel-body">
                <div class="top-img">
                    <img class="top-img" src="https://www.colourbox.com/preview/2090330-genovese-basil-plant-ocimum-basilicum-sweet-basil.jpg">
                </div>
                <div class="top-content">
                    <div class="question">
                        <p class="x-large"><b>Basil | Ocimum basilicum</b></p>
                    </div>
                    <div class="made-by">
                        <p class="text-muted">
                            <b class="cool-font">
                          <span>Basil, is a short lived annual or perennial plant in the family Lamiaceae grown for its leaves which are used as a herb. ... Close-up of basil flowers.</span>
                      </b>
                        </p>
                    </div><br>
                    <div class="price">
                        <p class="text-center xx-large avg">
                            <b><a href="/demo"><button class="hvr-grow-shadow gardenView" type="button" name="button">View Test's garden!</button></a><br></b>
                            <span class="currency"><i class="fa fa-eur"></i></span>
                            <button class="btn btn-danger" type="button" name="">Delete plant</button>
                        </p>
                    </div><br>
                    <hr>
                    <div class="extra-info text-muted">
                        <div class="pull-right">Updated: 12/25/2016</div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="panel panel-default clicable row col-md-4 col-xs-5 col-md-offset-4 col-xs-offset-3">
            <div class="panel-body">
                <div class="top-img">
                    <img class="top-img" src="https://www.colourbox.com/preview/2090330-genovese-basil-plant-ocimum-basilicum-sweet-basil.jpg">
                </div>
                <div class="top-content">
                    <div class="question">
                        <p class="x-large"><b>Basil | Ocimum basilicum</b></p>
                    </div>
                    <div class="made-by">
                        <p class="text-muted">
                            <b class="cool-font">
                        <span>Basil, is a short lived annual or perennial plant in the family Lamiaceae grown for its leaves which are used as a herb. ... Close-up of basil flowers.</span>
                    </b>
                        </p>
                    </div><br>
                    <div class="price">
                        <p class="text-center xx-large avg">
                            <b><a href="/demo"><button class="hvr-grow-shadow gardenView" type="button" name="button">View Test's garden!</button></a><br></b>
                            <span class="currency"><i class="fa fa-eur"></i></span>
                            <button class="btn btn-danger" type="button" name="">Delete plant</button>
                        </p>
                    </div><br>
                    <hr>
                    <div class="extra-info text-muted">
                        <div class="pull-right">Updated: 12/25/2016</div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 40px">
        <div class="panel panel-default clicable row col-md-4 col-xs-5 col-md-offset-4 col-xs-offset-3">
            <div class="panel-body">
                <div class="top-img">
                    <img class="top-img" src="https://www.colourbox.com/preview/2090330-genovese-basil-plant-ocimum-basilicum-sweet-basil.jpg">
                </div>
                <div class="top-content">
                    <div class="question">
                        <p class="x-large"><b>Basil | Ocimum basilicum</b></p>
                    </div>
                    <div class="made-by">
                        <p class="text-muted">
                            <b class="cool-font">
                                <span>Basil, is a short lived annual or perennial plant in the family Lamiaceae grown for its leaves which are used as a herb. ... Close-up of basil flowers.</span>
                            </b>
                        </p>
                    </div><br>
                    <div class="price">
                        <p class="text-center xx-large avg">
                            <b><a href="/demo"><button class="hvr-grow-shadow gardenView" type="button" name="button">View Test's garden!</button></a><br></b>
                            <span class="currency"><i class="fa fa-eur"></i></span>
                            <button class="btn btn-danger" type="button" name="">Delete plant</button>
                        </p>
                    </div><br>
                    <hr>
                    <div class="extra-info text-muted">
                        <div class="pull-right">Updated: 12/25/2016</div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
