<div class="sun">
</div>
<!-- BIRD -->
  <svg id="bird" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="62.68px" height="73.34px" viewBox="0 0 250.723 600" enable-background="new 0 0 250.723 293.34"
	 xml:space="preserve">
<g id="wing-front">

		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="149.7351" y1="294.3398" x2="149.735" y2="33.3477" gradientTransform="matrix(-1 0 0 -1 250.7231 294.3398)">
		<stop  offset="0" style="stop-color:#433F40"/>
		<stop  offset="1" style="stop-color:#1F1B1C"/>
	</linearGradient>
	<path fill="url(#SVGID_1_)" d="M61.597,254.089c-4.329-3.969,0-36-4-56.5s-10-38.5-10-54s12-42,21.5-65.5s18.5-47,26.5-56.5
		s15.589-28.5,28.544-19c12.956,9.5,26.053,26.405,27.957,34c1.902,7.595,4,57,0,75s-14.5,45-15,58.5s13,86,10,89.5
		S67.597,259.589,61.597,254.089z"/>
</g>
<g id="body">

		<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="125.3621" y1="294.3418" x2="125.362" y2="33.3461" gradientTransform="matrix(-1 0 0 -1 250.7231 294.3398)">
		<stop  offset="0" style="stop-color:#433F40"/>
		<stop  offset="1" style="stop-color:#1F1B1C"/>
	</linearGradient>
	<path fill="url(#SVGID_2_)" d="M111.097,293.339c-20.751-0.131-32.73-3.34-39.5-4.75c-3-0.625-3-2.25-5.25-2.5s-3.125-0.375-4,0
		s-2.125,0.277-4.875-0.235c-2.75-0.514-8.125-2.265-11.875-2.515s-8.372-0.638-9.875-1c-3.625-0.875-8.5-0.75-11.375-1.25
		s-5.375-1.875-7.125-1.875s-5.25-0.125-8,0s-9,0.625-9,0.625s-0.5-9.25,0-11.625s6.25-3.375,10.875-5.875s2.25-3.125,5.75-4.125
		s13.375-0.375,17-1c3.625-0.625,10.625-4.75,12.875-8s4.073-4.203,7.125-4.875c6.25-1.375,5.25-1.375,8.875-1.375
		s31.25,1.25,40.75,3.75s23.375,6.25,30.5,8s29.375,0.625,34.875,0.375s10.375-0.5,13.375-0.125s7.5,6.5,18,8.5
		s23.25,3.375,26.75,3.75s5.63-0.812,6.875,0.943c2.875,4.057,1.375,6.307,3.625,7.307s13.25,3.25,13.25,3.25
		s-24.875-2.25-33.25-2.25s-16.125,0.125-18.875,0.875s-3.375,5.5-7,5.625s-13.75,0.75-15.25,0s-4.375,0.25-6,1
		S130.847,293.464,111.097,293.339z"/>
</g>
<g id="wing-rear">

		<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="126.5808" y1="294.3398" x2="126.5807" y2="33.3461" gradientTransform="matrix(-1 0 0 -1 250.7231 294.3398)">
		<stop  offset="0" style="stop-color:#433F40"/>
		<stop  offset="1" style="stop-color:#1F1B1C"/>
	</linearGradient>
	<path fill="url(#SVGID_3_)" d="M71.597,222.589c1-15,0.5-31.5-2.5-42s-2.5-18,7-29s23.281-29.64,27.5-36c4.511-6.156,25-48,33-58
		s19.5-19,33.5-11.5s21.5,36.5,20.5,45s-12.637,53.465-12.5,67.5c-0.333,14.031,1.5,48-1,60s-8,40.5-12.5,44.5
		c-3.215,2.856-40,7.627-57,5.063c-17-2.564-50-9.563-50-13.063S70.597,237.589,71.597,222.589z"/>
</g>
</svg>

<!-- BIRDEND -->
<!-- CLOUD -->
<div class="background">
  <svg class="clouds cloud0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
   <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
 </svg>
   <svg class="clouds cloud1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
	</svg>
  <svg class="clouds cloud2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
	</svg>
  <svg class="clouds cloud3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" width="512" height="512" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
    <path id="cloud-icon" d="M406.1 227.63c-8.23-103.65-144.71-137.8-200.49-49.05 -36.18-20.46-82.33 3.61-85.22 45.9C80.73 229.34 50 263.12 50 304.1c0 44.32 35.93 80.25 80.25 80.25h251.51c44.32 0 80.25-35.93 80.25-80.25C462 268.28 438.52 237.94 406.1 227.63z"/>
  </svg>
</div>
<!-- CLOUD END -->
<!-- HEADER -->
<div class="container-fluid header">
  <div class="text-center">
    <h1 class="logo">Garden Growers</h1><br>
    <p>slogan about us something nice</p>
  </div>
</div>
<!-- LOGIN FORM -->
<div class="container-fluid loginForm text-center">
  <h4>Join the garden</h4>
  <h5>{{error}}</h5>
    <div class="text-center">
      <form class="" action="/" method="post">
        <input type="text" name="garden_name" value="" placeholder=" Garden Name"><br>
        <input type="password" name="password" value="" placeholder=" Password"><br>
        <input id="loginBtn" type="submit" name="" value="Login">
      </form>
      <a href="/signup">Create a new account</a><br>
      <a href="/demo">Dashboard</a>
    </div>
</div>
<!-- BACKGROUND IMG -->
<img class="footerImg" src="http://i.imgur.com/fF54ty8.png" alt=""><br>
<!-- FOOTER GRASS DIV-->
<div class="container-fluid footer">
</div>
