<body>
  <div class="content">
    <header class="container-fluid text-center">
      <h1 id="header1"><span id="gal1"></span class="logo">The Garden Growers Team</h1>
      <a href="/"><button id="btn" class="btn" type="button" name="home">Back to the garden!</button></a>
    </header>
    <main>
      <div class="photoBox col-md-12">
        <div class="bio col-md-3">
          <div class="box text-center">
            <h1>Tom Garrison</h1>
          <img class="us img-responsive" src="http://i.imgur.com/YnxUZDo.jpg" alt="Tom">
          <h2 class="cohort">Jack the pulpit</h2>
          </div>
          <a href="https://www.linkedin.com/in/thomas-garrison/" class="link"><img  class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
            <h1>Jennifer Winer</h1>
          <img class="us img-responsive" src="https://pbs.twimg.com/media/C9TZqtrXcAAXYzm.jpg" alt="Jen">
          <h2 class="cohort">Indian paintbrush</h2>
          </div>
          <a href="https://www.linkedin.com/in/jenniferwiner/" class="link"><img  class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
            <h1>Derek Jones</h1>
          <img class="us img-responsive" src="https://pbs.twimg.com/media/C9TZ2LpXoAEX9U1.jpg" alt="Derick">
          <h2 class="cohort">Catnip</h2>
          </div>
          <a href="https://www.linkedin.com/in/derek-james-jones" class="link"><img class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
        <div class="bio col-md-3">
          <div class="box text-center">
            <h1>Steve Hendricks</h1>
          <img class="us img-responsive" src="https://pbs.twimg.com/media/C9TZ_KCXUAIR6lL.jpg" alt="Steve">
          <h2 class="cohort">Cape sundew</h2>
          </div>
          <a href="https://www.linkedin.com/in/steven-hendricks/" class="link"><img  class="linked" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
        </div>
      </div>
    </main>
    <footer>

    </footer>
  </div>
</body>
