<body>
  <div class="content">
    <header class="container-fluid text-center">
      <h1 id="header1">The Garden Growers Team</h1>
      <a href="/"><button id="btn" class="btn" type="button" name="home">Back to the garden!</button></a>
      <br />
    </header>
    <main class="container">
      <div class="photoBox col-md-12">
        <div class="bio col-md-3 col-sm-6 col-xs-12">
          <div class="meet-container box text-center">
            <h1 class="meet-names">Jennifer<br/>Winer</h1>
            <img class="us img-responsive" src="https://pbs.twimg.com/media/C9TZqtrXcAAXYzm.jpg" alt="Jen">
            <div>
              <a href="https://www.linkedin.com/in/jenniferwiner/" class="link"><img  class="site-icons" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
              <a href="https://www.github.com/jenniferwiner" class="link"><img  class="site-icons" src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-256.png" alt="linkedin"></a>
            </div>
          </div>
        </div>
        <div class="bio col-md-3 col-sm-6 col-xs-12">
          <div class="meet-container box text-center">
            <h1 class="meet-names">Tom<br/>Garrison</h1>
            <img class="us img-responsive" src="http://i.imgur.com/YnxUZDo.jpg" alt="Tom">
            <div>
              <a href="https://www.linkedin.com/in/thomas-garrison/" class="link"><img  class="site-icons" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
              <a href="https://github.com/TomGarrison" class="link"><img  class="site-icons" src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-256.png" alt="linkedin"></a>
            </div>
          </div>
        </div>
        <div class="bio col-md-3 col-sm-6 col-xs-12">
          <div class="meet-container box text-center">
            <h1 class="meet-names">Derek<br/>Jones</h1>
            <img class="us img-responsive" src="https://pbs.twimg.com/media/C9TZ2LpXoAEX9U1.jpg" alt="Derick">
            <div>
              <a href="https://www.linkedin.com/in/derek-james-jones" class="link"><img class="site-icons" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png"  alt="linkedin"></a>
              <a href="https://github.com/djamesjones4" class="link"><img  class="site-icons" src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-256.png" alt="linkedin"></a>
            </div>
          </div>
        </div>
        <div class="bio col-md-3 col-sm-6 col-xs-12">
          <div class="meet-container box text-center">
            <h1 class="meet-names">Steve<br/>Hendricks</h1>
            <img class="us img-responsive" src="https://pbs.twimg.com/media/C9TZ_KCXUAIR6lL.jpg" alt="Steve">
            <div>
              <a href="https://www.linkedin.com/in/steven-hendricks/" class="link"><img  class="site-icons" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" alt="linkedin"></a>
              <a href="https://github.com/JupitersMoon" class="link"><img  class="site-icons" src="https://cdn0.iconfinder.com/data/icons/octicons/1024/mark-github-256.png" alt="linkedin"></a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
    <!-- BACKGROUND IMG -->
      <img class="footerImg" src="http://i.imgur.com/fF54ty8.png" alt=""><br>
    <!-- FOOTER GRASS DIV-->
      <div class="container-fluid footer"></div>
    </footer>
  </div>
</body>
