* {
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
    background-color: #d2f4fa;
}

body {
    background-color: #d2f4fa;
}

a {
    font-size: 2.5vmin;
    color: #000;
}

input:hover {
    border: 1px solid #968f76
}

/*google auth*/
.g-signin2{

}
/*HIDDEN*/

.hidden {
    display: none;
}

#plantImg {
    height: 400px;
    width: 400px;
    border-radius: 5px;
}


/*Main logo styles*/

.logo, .demologo {
    /*font-family: 'Philosopher', sans-serif;*/
    font-family: 'Lobster', sans-serif;
    font-size: 12vmin;
    margin-top: 100px;
    height: 120px;
}

.profile {
    margin-top: 5px;
}


/*inputs across platform*/

input {
    margin: 5px 5px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #C1BCAC;
}


/*login form*/

.loginForm {
    margin-top: 40px;
}


/*LIST GROUP ITEMS*/

.list-group {
    text-align: center;
    text-decoration: none;
    text-transform: none;
}


/*login button*/

#loginBtn, #createPlantBtn, #submitCreateBtnDemo, #createPlantBtnDemo, #submitCreateBtn, .feedBtn, .homeBtn, .gardenView, .signupDemoBtn, #logoutBtn {
    width: 350px;
    height: 30px;
    background-color: #DDD1B5;
    border: none;
    border-radius: 2.5px;
}
/*Weather Div*/
.weatherDiv{
    float: left;
    margin: 10px 10px;
}
#temp, #forecast, .weather{
  float: right;
  margin-top: -35px;
}
/*BUUTTTONS*/

.hvr-bubble-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative
}

.hvr-bubble-top:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    top: 0;
    border-width: 0 10px 10px;
    border-color: transparent transparent #DDD1B5
}

.hvr-bubble-top:active:before, .hvr-bubble-top:focus:before, .hvr-bubble-top:hover:before {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform
}

.hvr-grow-shadow:active, .hvr-grow-shadow:focus, .hvr-grow-shadow:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}


/*FOOT - SVG - IMG*/

.footerFeed {
    margin-top: 250px;
    background-color: rgb(128, 177, 55);
    height: 900px;
}

.footerImgFooter {
    margin-top: 150px;
    float: left;
    background-size: cover;
    width: 100%;
}

.footer {
    margin-top: 60px;
    background-color: rgb(128, 177, 55);
    height: 300px;
}

.footerImg {
    float: left;
    background-size: cover;
    width: 100%;
}


/*most common plants and number of plants*/

.numberOfPlants {
    height: 100px;
    width: 450px;
    background-color: #DDD1B5;
    border-radius: 5px;
    margin: 50px;
}

.myMostCommon {
    height: 100px;
    width: 450px;
    background-color: #DDD1B5;
    border-radius: 5px;
    margin: 50px;
}

.mygarden {
    margin-top: 250px;
}


/*SUN*/

.sun {
    float: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(250, 249, 205);
    opacity: 0.9;
    box-shadow: 0px 0px 40px 15px rgb(250, 249, 205);
}


/*Clouds*/
.cloudsWeather {
    width: 200px;
    height: 300px;
    position: absolute;
}

.cloudWeather {
    top: -20px;
    z-index: 100;
    fill: rgba(252, 252, 252, 0.5);
}

.clouds {
    width: 200px;
    height: 300px;
    position: absolute;
}

.cloud0 {
    top: -20px;
    z-index: 100;
    fill: rgba(252, 252, 252, 0.5);
    -webkit-animation: move 30s linear infinite;
    -moz-animation: move 30s linear infinite;
    -o-animation: move 30s linear infinite;
    animation: move 30s linear infinite;
}

.cloud1 {
    top: 80px;
    z-index: 100;
    fill: rgba(252, 252, 252, 0.5);
    -webkit-animation: move 25s linear infinite;
    -moz-animation: move 25s linear infinite;
    -o-animation: move 25s linear infinite;
    animation: move 25s linear infinite;
}

.cloud2 {
    top: -60px;
    z-index: 200;
    fill: rgba(252, 252, 252, 0.5);
    -webkit-animation: move 30s linear 10s infinite backwards;
    -moz-animation: move 30s linear 10s infinite backwards;
    -o-animation: move 30s linear 10s infinite backwards;
    animation: move 30s linear 10s infinite backwards;
}

.cloud3 {
    top: 40px;
    z-index: 200;
    fill: rgba(252, 252, 252, 0.5);
    -webkit-animation: move 35s linear 10s infinite backwards;
    -moz-animation: move 35s linear 10s infinite backwards;
    -o-animation: move 35s linear 10s infinite backwards;
    animation: move 35s linear 10s infinite backwards;
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(-400px);
    }
    to {
        -webkit-transform: translateX(1350px);
    }
}


/*BIRD*/

#bird {
    animation: fly 5s linear infinite;
}

@keyframes fly {
    0% {
        transform: translateX(90vw);
    }
    100% {
        transform: translateX(-50vw);
    }
}

#wing-front, #wing-rear {
    transform-style: preserve-3d;
    transform-origin: bottom center;
}

#wing-front {
    animation: flap-front 2s ease-in infinite;
    perspective: 1000px;
}

#wing-rear {
    animation: flap-rear 2s ease-in infinite;
    perspective: -1000px;
}

@keyframes flap-front {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

@keyframes flap-rear {
    0%, 100% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(-180deg);
    }
}


/*CARD*/

hr {
    margin: 0;
}

.ml-5 {
    margin-left: 5px;
}

.top-img img {
    width: 100%;
    height: 360px;
}

.panel {
     /*margin: 20px 20px;*/
     margin-left: 100px;
    font-family: 'Delius', cursive;
    padding: 0;
    width: 460px;
    height: 600px;
    overflow: hidden !important;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.panelheight{
  height: 730px;
}
.panelCard{
  font-family: 'Delius', cursive;
  padding: 0;
  height: 160px;
  overflow: hidden !important;
  position: relative;
  background-color: #C1BCAC;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.noteCard{
  width: 400px;
}

.panel .panel-body {
    padding: 0 !important;
}

.top-content {
    padding: 8px 10px 0px 10px;
}

.x-large {
    font-size: large;
}

.price {
    padding: 0 !important;
}

.price .avg {
    margin-top: -10px;
    margin-bottom: 6px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: relative
}

.avg .currency {
    position: absolute;
    font-size: small;
    bottom: 0;
    right: 5px;
}

.left {
    height: 100px;
    width: 45%;
    float: left;
    margin: 10px 10px;
}

.right {
    height: 100px;
    width: 45%;
    float: right;
    margin: 10px 10px;
}


/*CHARTS*/

#doughnutChartHome {
  margin-top: 100px;
    margin-bottom: 20px;
}


/* ----------- iPhone 4 and 4S ----------- */


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .logo {
        margin-top: 30px;
    }
    .demologo {
        margin-top: 30px;
    }
    .footer {
        height: 1020px;
    }
    .list-group {
        width: 500px;
    }
    .footerImgFooter {
        margin-top: 170px;
    }
    .left {
        width: 100%;
        float: none;
    }
    .right {
        width: 100%;
        float: none;
    }
    .randomQuote{
      display: none;
    }
    .loginForm{
      margin-top: -100px;
    }
    .panel{
      width: 300px;
      height: 700px;
      margin: 5px 5px;
    }
    .feedPanel, .userPanel{
      margin: -5px;
    }
    .gardenView{
      margin: -25px;
      height: 50px;
    }
    #loginBtn, #createPlantBtn, #submitCreateBtnDemo, #createPlantBtnDemo, #submitCreateBtn, .feedBtn, .homeBtn, .gardenView, .signupDemoBtn, #logoutBtn{
      width: 300px;
    }
    #doughnutChartHome{
    }
    .myMostCommon{
      width: 210px;
      height: 150px;
    }
    .numberOfPlants{
      width: 210px;
      height: 150px;
    }
}


/* ----------- iPhone 5 and 5S ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer{
    height: 150px;
  }
  input{
    width: 290px;
    height: 45px;
  }
  #loginBtn{
    width: 290px;
  }
  .logo {
      margin-top: 10px;
  }
  .footerImg {
      width: 100%;
      margin-top: 160px;
  }
  .footer{
    display: none;
  }
  .panel{
    width: 300px;
    height: 700px;
    margin: 5px 5px;
  }
  .feedPanel, .userPanel{
    margin: -15px;
  }
  .gardenView{
    margin: -25px;
    height: 50px;
  }
  @keyframes fly {
      0% {
          transform: translateX(80vw);
      }
      100% {
          transform: translateX(-0vw);
      }
  }
  .left {
      width: 100%;
      float: none;
  }
  .right {
      width: 100%;
      float: none;
  }
}


/* ----------- iPhone 6 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        margin-top: 10px;
    }
    .footer {
      width: 100%;
        margin-top: 20px;
        height: 70px;
    }
    input{
      width: 340px;
      height: 45px;
    }
    #loginBtn{
      width: 330px;
    }
    @keyframes fly {
        0% {
            transform: translateX(85vw);
        }
        100% {
            transform: translateX(-0vw);
        }
    }
    .left {
        width: 100%;
        float: none;
    }
    .right {
        width: 100%;
        float: none;
    }
}

/*6 Plus*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer{
    height: 150px;
  }
  input{
    width: 340px;
    height: 45px;
  }
  #loginBtn{
    width: 330px;
  }
  .left {
      width: 100%;
      float: none;
  }
  .right {
      width: 100%;
      float: none;
  }
}
/* ----------- iPad 3 and 4 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        margin-top: 50px;
    }
    .footer {
        height: 630px;
    }
    .footerImgFooter {
        margin-top: 190px;
    }
    input{
      width: 440px;
      height: 50px;
    }
    #loginBtn{
      width: 330px;
    }
    .left {
        width: 100%;
        float: none;
    }
    .right {
        width: 100%;
        float: none;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .logo {
        margin-top: 20px;
    }
}


/*------ Large Screen -------*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
      margin-top: 450px;
      height: 300px;
  }
  .randomQuote{
    margin-top: 40px;
  }
  .footerImg {
      margin-top: 390px;
  }
  input{
    width: 540px;
    height: 60px;
  }
  #loginBtn{
    width: 330px;
  }
  .left {
      width: 100%;
      float: none;
  }
  .right {
      width: 100%;
      float: none;
  }
}
