* {
    font-family: 'Raleway', sans-serif;
}

a{
font-size: 3vmin;
color: #000;
}

html {
    height: 100%;
    background-color: #d2f4fa;
}

body {
    background-color: #d2f4fa;
}
/*HIDDEN*/
.hidden{
display: none;
}

#plantImg{
  height: 400px;
  width: 400px;
  border-radius: 5px;
}
/*Main logo styles*/

.logo, .demologo {
    /*font-family: 'Philosopher', sans-serif;*/
    font-family: 'Lobster', sans-serif;
    font-size: 12vmin;
    margin-top: 100px;
    height: 120px;
}

.profile {
    margin-top: 5px;
}
/*inputs across platform*/

input {
    margin: 5px 5px;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #C1BCAC;
}

/*login form*/
.loginForm {
    margin-top: 40px;
}
/*LIST GROUP ITEMS*/
.list-group{
  width: 500px;
  text-align: left;
}
/*login button*/
#loginBtn, #createPlantBtn, #submitCreateBtnDemo, #createPlantBtnDemo {
    width: 350px;
    background-color: #DDD1B5;
    border: none;
    border-radius: 2.5px;
}
/*FOOT - SVG - IMG*/
.footerFeed{
    margin-top: 250px;
    background-color: rgb(128, 177, 55);
    height: 900px;
}
.footerImgFooter {
  margin-top: 150px;
    float: left;
    background-size: cover;
    width: 100%;
}
.footer {
    margin-top: 50px;
    background-color: rgb(128, 177, 55);
    height: 260px;
}
.footerImg {
    float: left;
    background-size: cover;
    width: 100%;
}
/*most common plants and number of plants*/
.numberOfPlants{
  height: 200px;
  width: 450px;
  background-color: #DDD1B5;
  border-radius: 5px;
  padding: 5px 5px;
}
.myMostCommon{
  height: 250px;
  width: 450px;
  background-color: #DDD1B5;
  border-radius: 5px;
  padding: 5px 5px;
}
/*SUN*/
.sun {
  float: right;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
	width:70px;
	height:70px;
	border-radius:50%;
	background:rgb(250, 249, 205);
	opacity:0.9;
	box-shadow: 0px 0px 40px 15px rgb(250, 249, 205);
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .logo {
        margin-top: 330px;
    }
    .demologo{
      margin-top: 30px;
    }
    .footer {
        height: 1020px;
    }
    .list-group{
      width: 500px;
    }
    .footerImgFooter{
      margin-top: 170px;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        margin-top: 350px;
    }

    .footer {
        height: 1020px;
    }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        margin-top: 450px;
    }

    .footer {
        height: 930px;
    }
}

/* ----------- iPad 3 and 4 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        margin-top: 50px;
    }

    .footer {
        height: 630px;
    }
    .footerImgFooter{
      margin-top: 190px;
    }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .logo {
      margin-top: 20px;
  }
}

/*------ Large Screen -------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
        margin-top: 350px;
    }

    .footer {
        height: 630px;
    }
}
@media screen and (min-device-width: 1400px) and (max-device-width: 1800px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .footer{
    height: 400px;
  }
}
